textarea {
    resize: none;
}

html{
    position:relative; 
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
    margin:0;
    padding:0;
}

.pageContentWrapper{
    margin-bottom: 150px;/* Height of footer*/
}

/*_______________________________________________________________________________________*/

#navigation {
    background-color: #0A6847;
    overflow: hidden;
}

#navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: serif;
}

#navigation a:hover {
    background-color: #7ABA78;
    color: black;
}

/*_______________________________________________________________________________________*/

#container {
    overflow: hidden;
    position: relative;
    height: 500px;
    align-content: flex-end;
}

img {
    position: absolute;
    width: 90vw;
    height: 490px;
    object-fit: cover;
}

#im1 {
    object-position: center 20%;
}

#im2 {
    object-position: center 70%;
}

#im3 {
    object-position: center 25%;
}

#previous, #next {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #F3CA52;
}

#previous:hover, #next:hover {
    color: #F6E9B2;
}

#previous {
    left: 20px;
}

#next {
    right: 20px;
}

/*_______________________________________________________________________________________*/

#myTab{
    margin-left: 10vw;
}

#myTab .nav-link{
    color: gray;
    background-color: #F6E9B2;
    min-width: 20vw;
}

#myTab .nav-link.active {
    color: black;
    background-color: #F3CA52;
}

.tab-content{
    background-color: antiquewhite;
    margin-right: 10vw;
    min-width: 60vw;
    padding: 10px;
}

#video-tab-pane{
    text-align: center;
}

/*_______________________________________________________________________________________*/

#contact{
    margin-top: 10vh;
}

/*_______________________________________________________________________________________*/

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background:#ccc;
    border-top-width: 1px;
    border-color: gray;
    border-top-style: solid;
    margin-top: 5vh;
    color: #0A6847;
}

h3 {
    text-align: center;
}

#redes {
    --bs-link-color-rgb: 10, 104, 71;
    --bs-icon-link-transform: translate3d(0, -.500rem, 0);
}

#redes:hover {
    --bs-link-color-rgb: 122, 186, 120;
}

#links1 {
    text-align: right;
}